.fte-container {
  height: 300px;
  border: 1px solid blue;
  position: relative;
}

.fte-container .menuField {
  width: 100px;
  height: 100%;
  border: 1px solid red;
  float: right;
	
	overflow-y: scroll;
}

.fte-container .templateListField {
}

.fte-container .templateList,
.fte-container .languageList {
  width: 100%
}

.fte-container .variableField {
	height: auto;
}

.fte-container .button {
	width: 100%;
}

.fte-container .variable {
	color: blue;
}

.fte-container .templateField {
  height: 100%;
  border: 1px solid red;
  overflow-y: scroll;
	overflow-x: hidden;
}