.fte-container {
  height: 300px;
  border: 1px solid blue;
  position: relative;
}

.fte-container .menuField {
	position: relative;
  /*width: 100px;*/
  height: 100%;
  border: 1px solid red;
  float: right;
	
	/*overflow-y: scroll;*/
}

.fte-container .menuWidth {
	width: 100px;
}

.fte-container .templateListField {
}

.fte-container .templateList,
.fte-container .languageList {
  width: 100%
}

.fte-container .variableField {
	height: auto;
}

.fte-container .button {
	width: 100%;
}

.fte-container .variable {
	color: blue;
}

.fte-container .editField {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.fte-container .templateField {
  height: 100%;
  border: 1px solid red;
  overflow-y: scroll;
	overflow-x: hidden;
	}

.fte-container .templateContent {
  min-height: 100%;
	width: 100% !important;
  margin: 0;
	display: inline-block !important;
}